<div class="row">
  <form>
    <div class="col-xs-12">
      <label for="vname">Vorname:
        <input id="vname" name="vname">
      </label>
    </div>
    <div class="col-xs-12">
      <label for="zname">Zuname:
        <input id="zname" name="zname">
      </label>
    </div>
    <div class="col-xs-12">
      <label for="männl">männlich</label>
      <input type="radio" id="männl" name="geschlecht" value="0">
      <label for="weibl">weiblich</label>
      <input type="radio" id="weibl" name="geschlecht" value="1">
    </div>
    <div class="col-xs-12">
      <input type="submit" value="senden">
    </div>
    <div class="col-xs-12">
      <select class="" name="">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>
    </div>
  </form>
</div>
