<div class="row spiele">
  <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
    <form class=""
          action="#"
          method="post"
          ng-controller="SpieleCtrl">
      <!-- <ng-form> -->
        <spieltyp></spieltyp>

        <spielsymbol></spielsymbol>

        <silbenanzahl></silbenanzahl>

        <rundenanzahl></rundenanzahl>

        <button type="submit"
                value="spiel"
                class="center-block ng-hide">
                OK
        </button>
      <!-- </ng-form> -->
    </form>
  </div>
</div>
