<div class="container home">
  <div class="row">
    <div class="col-xs-12">
      <form class="" action="#" method="post">
        <div class="text-center">
          <div class="btn-group-vertical fbg-btn" role="group" aria-label="...">
            <label for="texteingabe" class="">FABEKURISOMA</label>
            <input type="text" class="form-control texteingabe text-center">
            <button type="button" class="btn center-block">OK</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
